language: python
python:
  - "3.6"
sudo: required
dist: trusty
services:
  - docker
before_install:
  - pip install SPARQLWrapper docker-compose
install:
  - docker-compose up -d pbg-ld
  - sleep 180
  - docker-compose ps -a
  - cd src
script:
  - docker inspect -f '{{json .State.Health.Status}}' pbg-ld | grep healthy || exit 1
  - docker exec -t pbg-ld /bin/bash -c "sort -u ../data/*.graph > /tmp/pbg-ld/src/graphs.txt"
  - docker cp pbg-ld:/tmp/pbg-ld/src/graphs.txt .
  - python test.py graphs.txt http://localhost:8890/sparql
